<div class="row">
    <div class="col-lg-6">
        <button type="button" class="btn btn-primary btn-block">
            <a href="..\Usuario\Login" style="color: aliceblue;">Entrar no Sistema</a>
        </button>
    </div>
    <div class="col-lg-6">
        <button type="button" class="btn btn-success btn-block">Registrar uma Conta</button>
    </div>
</div>